{% extends 'base.html' %}

{% block body %}
{% load static %}
<style>
body {
  background-image: url("{% static 'bg.jpg' %}");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
@media (max-width: 768px) {
    body {
        height:100vh;
    }
}

</style>
<br>


<div class="page-header">
    <h2><b>Dodaj wartości z paragonu do bazy danych</b></h2>

  </div>

<br>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstcategoryvalue" placeholder="Wpisz wartość">
      </div>
      <div class="col-sm-2">
        <select name="firstcategory" class="form-control">
            <option value="...">...</option>
            <option value="Warzywa i owoce">Warzywa i owoce</option>
            <option value="Jedzenie w pracy">Jedzenie w pracy</option>
            <option value="Jedzenie na miescie">Jedzenie na mieście</option>
            <option value="Woda sodowa">Woda sodowa</option>
            <option value="Alkohol">Alkohol</option>
            <option value="Przekaski">Przekąski</option>
            <option value="Slodycze">Słodycze</option>
            <option value="Zdrowie (leki etc)">Zdrowie (leki etc)</option>
            <option value="Artykuly papiernicze">Artykuły papiernicze</option>
            <option value="Ksiazki i gazety">Książki i gazety</option>
            <option value="Zabawki/puzzle etc">Zabawki/puzzle etc</option>
            <option value="Prezenty">Prezenty</option>
            <option value="Kosmetyki">Kosmetyki</option>
            <option value="Chemia">Chemia</option>
            <option value="Ubrania">Ubrania</option>
            <option value="inne wydatki">inne wydatki</option>
        </select>
      </div>

    </div>

<div class="form-row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="secondcategoryvalue" placeholder="Wpisz wartość">
      </div>
      <div class="col-sm-2">
        <select name="secondcategory" class="form-control">
            <option value="...">...</option>
            <option value="Warzywa i owoce">Warzywa i owoce</option>
            <option value="Jedzenie w pracy">Jedzenie w pracy</option>
            <option value="Jedzenie na miescie">Jedzenie na mieście</option>
            <option value="Woda sodowa">Woda sodowa</option>
            <option value="Alkohol">Alkohol</option>
            <option value="Przekaski">Przekąski</option>
            <option value="Slodycze">Słodycze</option>
            <option value="Zdrowie (leki etc)">Zdrowie (leki etc)</option>
            <option value="Artykuly papiernicze">Artykuły papiernicze</option>
            <option value="Ksiazki i gazety">Książki i gazety</option>
            <option value="Zabawki/puzzle etc">Zabawki/puzzle etc</option>
            <option value="Prezenty">Prezenty</option>
            <option value="Kosmetyki">Kosmetyki</option>
            <option value="Chemia">Chemia</option>
            <option value="Ubrania">Ubrania</option>
            <option value="inne wydatki">inne wydatki</option>
        </select>
      </div>

    </div>


<div class="form-row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="thirdcategoryvalue" placeholder="Wpisz wartość">
      </div>
      <div class="col-sm-2">
        <select name="thirdcategory" class="form-control">
            <option value="...">...</option>
            <option value="Warzywa i owoce">Warzywa i owoce</option>
            <option value="Jedzenie w pracy">Jedzenie w pracy</option>
            <option value="Jedzenie na miescie">Jedzenie na mieście</option>
            <option value="Woda sodowa">Woda sodowa</option>
            <option value="Alkohol">Alkohol</option>
            <option value="Przekaski">Przekąski</option>
            <option value="Slodycze">Słodycze</option>
            <option value="Zdrowie (leki etc)">Zdrowie (leki etc)</option>
            <option value="Artykuly papiernicze">Artykuły papiernicze</option>
            <option value="Ksiazki i gazety">Książki i gazety</option>
            <option value="Zabawki/puzzle etc">Zabawki/puzzle etc</option>
            <option value="Prezenty">Prezenty</option>
            <option value="Kosmetyki">Kosmetyki</option>
            <option value="Chemia">Chemia</option>
            <option value="Ubrania">Ubrania</option>
            <option value="inne wydatki">inne wydatki</option>
        </select>
      </div>

    </div>

<div class="form-row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="fourthcategoryvalue" placeholder="Wpisz wartość">
      </div>
      <div class="col-sm-2">
        <select name="fourthcategory" class="form-control">
            <option value="...">...</option>
            <option value="Warzywa i owoce">Warzywa i owoce</option>
            <option value="Jedzenie w pracy">Jedzenie w pracy</option>
            <option value="Jedzenie na miescie">Jedzenie na mieście</option>
            <option value="Woda sodowa">Woda sodowa</option>
            <option value="Alkohol">Alkohol</option>
            <option value="Przekaski">Przekąski</option>
            <option value="Slodycze">Słodycze</option>
            <option value="Zdrowie (leki etc)">Zdrowie (leki etc)</option>
            <option value="Artykuly papiernicze">Artykuły papiernicze</option>
            <option value="Ksiazki i gazety">Książki i gazety</option>
            <option value="Zabawki/puzzle etc">Zabawki/puzzle etc</option>
            <option value="Prezenty">Prezenty</option>
            <option value="Kosmetyki">Kosmetyki</option>
            <option value="Chemia">Chemia</option>
            <option value="Ubrania">Ubrania</option>
            <option value="inne wydatki">inne wydatki</option>
        </select>
      </div>

    </div>
<div class="form-row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="fifthcategoryvalue" placeholder="Wpisz wartość">
      </div>
      <div class="col-sm-2">
        <select name="fifthcategory" class="form-control">
            <option value="...">...</option>
            <option value="Warzywa i owoce">Warzywa i owoce</option>
            <option value="Jedzenie w pracy">Jedzenie w pracy</option>
            <option value="Jedzenie na miescie">Jedzenie na mieście</option>
            <option value="Woda sodowa">Woda sodowa</option>
            <option value="Alkohol">Alkohol</option>
            <option value="Przekaski">Przekąski</option>
            <option value="Slodycze">Słodycze</option>
            <option value="Zdrowie (leki etc)">Zdrowie (leki etc)</option>
            <option value="Artykuly papiernicze">Artykuły papiernicze</option>
            <option value="Ksiazki i gazety">Książki i gazety</option>
            <option value="Zabawki/puzzle etc">Zabawki/puzzle etc</option>
            <option value="Prezenty">Prezenty</option>
            <option value="Kosmetyki">Kosmetyki</option>
            <option value="Chemia">Chemia</option>
            <option value="Ubrania">Ubrania</option>
            <option value="inne wydatki">inne wydatki</option>
        </select>
      </div>

    </div>
      <div class="form-row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="sixcategoryvalue" placeholder="Wpisz wartość">
      </div>
      <div class="col-sm-2">
        <select name="sixcategory" class="form-control">
            <option value="...">...</option>
            <option value="Warzywa i owoce">Warzywa i owoce</option>
            <option value="Jedzenie w pracy">Jedzenie w pracy</option>
            <option value="Jedzenie na miescie">Jedzenie na mieście</option>
            <option value="Woda sodowa">Woda sodowa</option>
            <option value="Alkohol">Alkohol</option>
            <option value="Przekaski">Przekąski</option>
            <option value="Slodycze">Słodycze</option>
            <option value="Zdrowie (leki etc)">Zdrowie (leki etc)</option>
            <option value="Artykuly papiernicze">Artykuły papiernicze</option>
            <option value="Ksiazki i gazety">Książki i gazety</option>
            <option value="Zabawki/puzzle etc">Zabawki/puzzle etc</option>
            <option value="Prezenty">Prezenty</option>
            <option value="Kosmetyki">Kosmetyki</option>
            <option value="Chemia">Chemia</option>
            <option value="Ubrania">Ubrania</option>
            <option value="inne wydatki">inne wydatki</option>
        </select>
      </div>

    </div>

<div class="row">
    <div class="col-sm-6">

        <input type="text" class="form-control" name="totalvalue" placeholder="Wartość paragonu">

    </div>
    <div class="col-sm-6"></div>

</div>
 <div class="row">

  <div class="col-sm-12">

      <br> <button type="submit" class="btn btn-primary">Prześlij do bazy danych</button>

</form>
  </div></div>

<br>
{% if error_msg == "Została podana zbyt duża kwota" %}
<p>Została podana zbyt duża kwota</p>
{% elif error_msg == "Nie można dodać tych danych do bazy!" %}

{% else %}

{% endif %}


</body>
</html>
{% endblock %}
