{% extends 'base.html' %}

{% block body %}
{% load static %}
<br>
<style>
body {
  background-image: url("{% static 'bg.jpg' %}");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
@media (max-width: 768px) {
    body {
        height:100vh;
    }
}

</style>

<div class="page-header">
    <h2><b>Dodaj dochód</b></h2>

  </div>

<br>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-sm-10">
        <input type="number" class="form-control" name="income_amount" placeholder="Wpisz wartość" step="00.01">
      </div>
      <div class="col-sm-2">
        <select name="firstcategory" class="form-control">
            <option value="...">...</option>
            <option value="Kasia">Kasia</option>
            <option value="Pawel">Paweł</option>

        </select>
      </div>

    </div>

 <div class="row">

  <div class="col-sm-12">

      <br> <button type="submit" class="btn btn-primary">Prześlij do bazy danych</button>
      <br>
      <br>
      {% if test == False%}
        <p>Podaj kwotę i wybierz osobę!</p>
      {% elif test == "Z" %}
        <p>Została podana zbyt duża kwota!</p>
      {% else %}
        <p></p>
      {% endif %}
</form>
  </div></div>



</body>
</html>
{% endblock %}
