{% extends 'base.html' %}

{% block body %}
{% load static %}
<h3>Statystyki na {{monthName}}</h3>
<br>
<canvas id="doughnut-chart" style="position: relative; height:50vh; width:50vw"></canvas>
<hr>
<canvas id="bar-chart-horizontal" style="position: relative; height:50vh; width:50vw"></canvas>
<hr>
<canvas id="bar-chart" style="position: relative; height:50vh; width:50vw"></canvas><br>
<script>
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
        labels: ["Wydatki"],
        datasets: [{
            label: 'Jedzenie',
            data: [{% if jedzenie is None %} 0 {% else %} {{jedzenie}} {% endif %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        }
          , {
            label: 'Jedzenie w pracy',
            data: [{% if jedzenie_w_pracy is None %} 0 {% else %} {{ jedzenie_w_pracy }} {% endif %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        },
        {
          label: 'Warzywa i owoce',
          data: [{% if wio is None %} 0 {% else%} {{wio}} {% endif %}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
          ],
          borderColor: [
              'rgba(255,99,132,1)',
          ],
          borderWidth: 1
      },
      {
        label: 'Woda sodowa',
        data: [{% if woda_sodowa is None %} 0 {% else %} {{woda_sodowa}} {% endif %}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
            'rgba(255,99,132,1)',
            'rgba(255,99,132,1)',
        ],
        borderWidth: 1
    },      {
            label: 'Prezenty',
            data: [{% if prezenty is None %} 0 {% else %} {{prezenty}} {% endif %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        },
        {
              label: 'Przekąski',
              data: [{% if przekaski is None %} 0 {% else %} {{przekaski}} {% endif %}],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
              ],
              borderWidth: 1
          },
          {
                label: 'Słodycze',
                data: [{% if slodycze is None %} 0 {% else %} {{slodycze}} {% endif %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            },
            {
                  label: 'Zdrowie',
                  data: [{% if zdrowie is None %} 0 {% else %} {{zdrowie}} {% endif %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(255,99,132,1)',
                  ],
                  borderWidth: 1
              },
              {
                    label: 'Artykuły papiernicze',
                    data: [{% if art is None %} 0 {% else %} {{art}} {% endif %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                    ],
                    borderWidth: 1
                },
                {
                      label: 'Książki',
                      data: [{% if books is None %} 0 {% else %} {{books}} {% endif %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(255,99,132,1)',
                      ],
                      borderWidth: 1
                  },
                  {
                        label: 'Zabawki',
                        data: [{% if toys is None %} 0 {% else %} {{toys}} {% endif %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(255,99,132,1)',
                        ],
                        borderWidth: 1
                    },
                    {
                          label: 'Alkohol',
                          data: [{% if alkohol is None %} 0 {% else %} {{alkohol}} {% endif %}],
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(255, 99, 132, 0.2)',
                          ],
                          borderColor: [
                              'rgba(255,99,132,1)',
                              'rgba(255,99,132,1)',
                          ],
                          borderWidth: 1
                      },
                      {
                            label: 'Kosmetyki',
                            data: [{% if kosmetyki is None %} 0 {% else %} {{kosmetyki}} {% endif %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(255,99,132,1)',
                            ],
                            borderWidth: 1
                        },
                        {
                              label: 'Chemia',
                              data: [{% if chemia is None %} 0 {% else %} {{chemia}} {% endif %}],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(255, 99, 132, 0.2)',
                              ],
                              borderColor: [
                                  'rgba(255,99,132,1)',
                                  'rgba(255,99,132,1)',
                              ],
                              borderWidth: 1
                          },
                          {
                                label: 'Ubrania',
                                data: [{% if ubrania is None %} 0 {% else %} {{ubrania}} {% endif %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                ],
                                borderWidth: 1
                            },
                            {
                                  label: 'inne',
                                  data: [{% if inne is None %} 0 {% else %} {{inne}} {% endif %}],
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(255, 99, 132, 0.2)',
                                  ],
                                  borderColor: [
                                      'rgba(255,99,132,1)',
                                      'rgba(255,99,132,1)',
                                  ],
                                  borderWidth: 1
                              }
      ],
    },
    options: {
      title: {
          display: true,
          text: 'Wydatki "zmienne"'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
    }
});
//Doughnut chart "income"
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Paweł", "Kasia"],
      datasets: [
        {
          label: "Przychód miesięczny",
          backgroundColor: ["#3e95cd", "#8e5ea2"],
          data: [{% if  money_pawel is None%} 0 {% else %} {{money_pawel}} {% endif %},
            // {% if money_kasia is None%} 0 {% else %} {{money_kasia}} {% endif%}]
              333]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Przychód miesięczny',
        animation:{
        duration: 1000,
      },
      }
    }
});
</script>

  {% endblock %}
