{% extends 'base.html' %}
{% load static %}
{% block title %}
Strona główna
{% endblock %}

{% block body%}
<style>
body {
  background-image: url("{% static 'main.jpg' %}");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
    body {
        height:100vh;
    }
}
.jumbotron{
  background-color: #ffffff;
}
</style>
<br>
<br>

<div class="jumbotron">
  <h1><b>Witaj {{user}}!</b></h1>
  <br>
  <h2>{{time_to_show}}</h2>
</div>
{% endblock %}
