{% extends 'base.html' %}
{% load static %}
{% block title %}
Nie ma takiego użytkownika
{% endblock %}

{% block body%}
<style>
body {
  background-image: url("{% static 'bg.jpg' %}");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
    body {
        height:100vh;
    }
}
.jumbotron{
  background-color: #ffffff;
}
</style>
<br>
<br>

<div class="jumbotron">
  <h1><b>Nie ma takiego użytkownika</b></h1>
</div>
{% endblock %}
