{% extends 'base.html' %}
{% block title %}Lista zakupów{% endblock %}

{% block body %}
{% load static %}
<br>
<script>
$( function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
} );
</script>
<style>
    body {
      background-image: url("{% static 'bg.jpg' %}");
      height: 100%;
      background-position: center;
      background-repeat: repeat-y;
      background-size: cover;
    }
    @media (max-width: 768px) {
        body {
            height:100vh;
        }
    }
    li.my {
      width: 150px;
    }
    .checkboxes label {
      display: block;

      padding-right: 10px;
      padding-left: 22px;
      text-indent: -22px;
      background-color: gray;
      text-align: justify;
      width: 100px;
    }
    .checkboxes input {
      vertical-align: middle;
      display: block;
    }
    .checkboxes label span {
      vertical-align: middle;

    }
    input[type=checkbox] {
    zoom: 1.5;
    margin-right: 20px;
    }
    ul li{
      list-style-type: none;
      background-color: #ffffff;
    }
    .inputBox{
      background-color: #ffffff;
    }
</style>

<div class="page-header">
    <h2>Stwórz listę zakupów</h2>

  </div>



<br>
<form action="" method="POST">
  {% csrf_token %}
    <div class="form-row">
      <div class="col-sm-6">
        <input type="text" class="form-control" name="addtolist" placeholder="Wpisz artykuł">
      </div>
      <div class="col-sm-2">
        <input type="number" name="amountofproduct" placeholder="Wpisz ilość">
      </div>  <div class="col-sm-4">

            <button type="submit" class="btn btn-primary">Dodaj do listy zakupów</button>
    </div>

</div>
</form>



<div class="row">
    <div class="col-sm-12">
 {% if shoppinglist is None or shoppinglist is Empty %}

 {% else %}

    <br>
    <br>



<p><b><h2>Lista zakupów:</h2></b></p>
<br>
<ul id="sortable">
    {% for k, v  in shoppinglist.items %}
        {% if k == "" %}

        {% else %}
        <li>

            <span class="inputBox"><input type="checkbox"></span>{{k}}, ile sztuk?: {{v}}

        </li>
        {% endif %}
    {% endfor %}




</ul>

    </div>
    <form action="" method="POST">

      <input type="hidden" value="n" name="n">
      <button type="submit" class="btn btn-danger">Wyczyść listę</button>
        </div>

    </div>
    </form>
  </div>

<br>

{% endif %}

</body>
</html>
{% endblock %}
