{% extends 'base.html' %}

{% block body %}
{% load static %}
<style>
body {
  background-image: url("{% static 'bg.jpg' %}");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
@media (max-width: 768px) {
    body {
        height:100vh;
    }
}
th {
  color:#0033cc;
}
</style>
<br>
<h1><b>Dodaj zadanie</b></h1>
<br>
<br>
<form class="" action="" method="post">
  {% csrf_token %}
<div class="form-row">
  {{form}}
  </div>
  <div class="form-row">
    <div class="col-sm-2">
        <label>Data zakończenia: <input type="date" class="form-control" name="endDate" id="endDate"></label>
    </div>
  </div>
  <div class="form-row">

          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
         </div>
  </div>
</form>
<br>
<br>
{% if msg is None %}
{% else %}
    <p>{{msg}}<p>
{% endif %}


{% endblock %}
